Options -Indexes
RewriteEngine On

RewriteBase /sepex/

# Apresentação do site
RewriteRule ^$ view/site/index.php [NC,L]
RewriteRule ^relatorio?$ view/site/relatorio.php [NC,L]
RewriteRule ^atividades/([0-9]*)$ view/site/atividade.php?id=$1
RewriteRule ^inscricoes/([0-9]*)$ view/site/formulario.php?id=$1
RewriteRule ^relatorio?$ view/site/relatorio.php [NC,L]
RewriteRule ^inscricoes/confirmacao?$ view/site/sucesso.php [NC,L]

RewriteRule ^admin/login?$ view/admin/login.php [NC,L]
RewriteRule ^admin?$ view/admin/principal/index.php [NC,L]

# Eventos
RewriteRule ^admin/eventos/adicionar?$ view/admin/evento/adicionar.php [NC,L]
RewriteRule ^admin/eventos/editar/([0-9]*)$ view/admin/evento/editar.php?id=$1
RewriteRule ^admin/eventos/listar?$ view/admin/evento/listar.php [NC,L]
RewriteRule ^admin/eventos/gerenciar?$ view/admin/evento/gerenciar.php [NC,L]

# Atividades
RewriteRule ^admin/atividades/adicionar?$ view/admin/atividade/adicionar.php [NC,L]
RewriteRule ^admin/atividades/editar/([0-9]*)$ view/admin/atividade/editar.php?id=$1
RewriteRule ^admin/atividades/listar?$ view/admin/atividade/listar.php [NC,L]

# Inscrições
RewriteRule ^admin/inscricoes/gerenciar?$ view/admin/inscricao/gerenciar.php [NC,L]

ErrorDocument 403 /view/site/erro.php
ErrorDocument 404 /view/site/erro.php